---
http_interactions:
- request:
    method: get
    uri: https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1jb25zdW1lci1rZXk6dGVzdC1jb25zdW1lci1zZWNyZXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"SANDBOX-TEST-ACCESS-TOKEN","expires_in":"3599"}'
  recorded_at: Sat, 01 Jan 2000 00:00:00 GMT
- request:
    method: post
    uri: https://sandbox.safaricom.co.ke/mpesa/c2b/v1/registerurl
    body:
      encoding: UTF-8
      string: '{"ShortCode":"174379","ResponseType":"Completed","ConfirmationURL":"https://example.com/webhooks/mpesa/confirm","ValidationURL":"https://example.com/webhooks/mpesa/validate"}'
    headers:
      Authorization:
      - Bearer SANDBOX-TEST-ACCESS-TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"OriginatorConversationID":"12362-3240472-1","ResponseCode":"0","ResponseDescription":"success"}'
  recorded_at: Sat, 01 Jan 2000 00:00:01 GMT
recorded_with: VCR 6.4.0
