---
http_interactions:
- request:
    method: get
    uri: https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1jb25zdW1lci1rZXk6dGVzdC1jb25zdW1lci1zZWNyZXQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"SANDBOX-TEST-ACCESS-TOKEN","expires_in":"3599"}'
  recorded_at: Sat, 01 Jan 2000 00:00:00 GMT
- request:
    method: post
    uri: https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest
    body:
      encoding: UTF-8
      string: '{"BusinessShortCode":"174379","Password":"REDACTED","Timestamp":"20000101000000","TransactionType":"CustomerPayBillOnline","PartyA":"254712345678","PartyB":"174379","Amount":100,"PhoneNumber":"254712345678","CallBackURL":"https://example.com/webhooks/mpesa","AccountReference":"ORDER-123","TransactionDesc":"ORDER-123"}'
    headers:
      Authorization:
      - Bearer SANDBOX-TEST-ACCESS-TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"MerchantRequestID":"29115-34620561-1","CheckoutRequestID":"ws_CO_020120001010101010","ResponseCode":"0","ResponseDescription":"Success. Request accepted for processing","CustomerMessage":"Success. Request accepted for processing"}'
  recorded_at: Sat, 01 Jan 2000 00:00:01 GMT
recorded_with: VCR 6.4.0
